<form [formGroup]="adduser">
    <div>
        <mat-form-field>
            <mat-label>UserName</mat-label>
            <input matInput type="text" formControlName="Username">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="Email">
        </mat-form-field>
    </div>
   <div>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="text" formControlName="Password">
    </mat-form-field>
   </div>
   <div>
    <mat-form-field>
        <mat-label>Role</mat-label>
        <input matInput type="text" formControlName="Role">
    </mat-form-field>
   </div>
    <button mat-raised-button (click)="addnewuser()">Add</button>
</form>
