<div class="dashboard d-flex flex-column">
  <div class="row">
    <div class="col-lg-4 col-md-6 col">
      <div class="card d-flex flex-column justify-content-start ">
        <div class="chart">
          <canvas baseChart [data]="pieChartData" [type]="pieChartType" [options]="pieChartOptions"
            [plugins]="pieChartPlugins">
          </canvas>
        </div>
        <!-- <mat-divider style="margin: 1em 0;"></mat-divider> -->
        <!-- <div class="chartbtn">
          <button class="button"  mat-raised-button  (click)="toggleLegend()">Toggle
            Legend</button>&nbsp;&nbsp; -->
        <!-- <button mat-button mat-raised-button color="primary" (click)="changeLabels()">Change Labels</button> -->
        <!-- <button mat-button mat-raised-button color="primary" (click)="addSlice()">Add Slice</button> -->
        <!-- <button mat-button mat-raised-button color="primary" (click)="removeSlice()">Remove Slice</button> -->
        <!-- <button class="button" mat-raised-button  (click)="changeLegendPosition()">Change Legend
            Position</button>
        </div> -->
      </div>

    </div>
    <div class="col-lg-5 col-md-6 col">
      <div class="card d-flex flex-column justify-content-start ">
        Total Count
      </div>

    </div>
  </div>
  <div class="row1">
    <div class="col">
      <div class="d-flex justify-content-between">

        <div class="d-flex mt-2">
          <!-- <mat-form-field > -->
          <input (keyup)="applyFilter(input.value)" #input placeholder="search">
          <mat-icon matSuffix>search</mat-icon>
          <!-- </mat-form-field> -->
        </div>
        <div class="d-flex justify-content-end">
          <div class="d-flex align-items-center mt-1">

            <button mat-raised-button class="button" (click)="openDialog()">Add Project
              <mat-icon class="icon">add</mat-icon></button>&nbsp;&nbsp;
            <button mat-raised-button class="button" (click)="exportExcel()">Export as Excel
              <mat-icon>get_app</mat-icon></button>&nbsp;&nbsp;
            <!-- <input type="file" (change)="ReadExcel($event)"> -->
          </div>
        </div>
      </div>
</div>
</div>
      <div class="table-css">
        <!-- <section class="example-container mat-elevation-z8" tabindex="0"> -->
          <table mat-table [dataSource]="dataSource" class="table-style">

            <ng-container matColumnDef="ProjectName">
              <mat-header-cell *matHeaderCellDef>Project Name</mat-header-cell>
              <mat-cell (click)="taketodetail(task)" *matCellDef="let task;let i=index" class="cell">
                <!-- <button mat-button  (click)="taketodetail()">
               
              </button> -->
                {{task.ProjectName}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="StartDate">
              <mat-header-cell *matHeaderCellDef>Startdate</mat-header-cell>
              <mat-cell *matCellDef="let task" class="cell">{{task.StartDate}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="StatusoftheProject">
              <mat-header-cell *matHeaderCellDef>Status of the Project</mat-header-cell>
              <mat-cell *matCellDef="let task" class="cell">{{task.StatusoftheProject}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="AssignedTo">
              <mat-header-cell *matHeaderCellDef>Assigned To</mat-header-cell>
              <mat-cell *matCellDef="let task" class="cell">{{task.AssignedTo}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Description">
              <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
              <mat-cell *matCellDef="let task" class="cell">{{task.Description}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Edit">
              <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
              <mat-cell *matCellDef="let task;let i=index" class="cell">
                <button mat-icon-button matTooltip="Edit" (click)="openDialog1(task,i)">
                  <mat-icon>edit</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Delete" class="col-sm-1">
              <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
              <mat-cell *matCellDef="let task;let i=index;" class="cell">
                <button mat-icon-button matTooltip="Delete" (click)="delete(task.Id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

          </table>
        <!-- </section> -->
        <!-- </div> -->
      </div>
      <!-- </div> -->
      <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
      </mat-paginator>
    </div>