
button{
    width: 150px;
    color: white;
}
.forget{
    text-align: center;
    border: groove;
    padding: 100px;
    margin: 40px 450px;
    background-color: rgba(224, 194, 194, 0.473);
    margin-top: 100px;
    
}
.image{
    background-image: url('../../../assets/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height:100%;
}
h1{
    font-size: x-large;
    // margin: 30px;
}