<div class="container">
    <div class="row">
        <form [formGroup]="addproject">
            <div>
                <mat-form-field>
                    <mat-label>Project name</mat-label>
                    <input type="text" matInput formControlName="ProjectName">
                    <mat-error *ngIf="addproject.get('ProjectName')?.hasError('required')">required</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>State date</mat-label>
                    <input matInput formControlName="StartDate" type="text">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Status of the Project</mat-label>
                    <input type="text" matInput formControlName="StatusoftheProject">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Assigned To</mat-label>
                    <input type="text" matInput formControlName="AssignedTo">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <input type="text" matInput formControlName="Description">
                </mat-form-field>
            </div>
        </form>

        <button mat-raised-button color="primary" (click)="close()" mat-dialog-close>Close</button>
        <button mat-raised-button color="primary" (click)="save()" [mat-dialog-close]="addproject.value">Save</button>
</div>
</div>
